<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.zydgbbs.spring.aop.service.UserServiceImpl"/>
    <bean id="log" class="com.zydgbbs.spring.aop.log.Log"/>
    <bean id="afterLog" class="com.zydgbbs.spring.aop.log.AfterLog"/>
    <bean id="diy" class="com.zydgbbs.spring.aop.diy.DiyPointCut"/>

    <!--方式二：自定义类-->
    <aop:config>
        <!--自定义切面，ref要引用的类-->
        <aop:aspect ref="diy">
            <aop:pointcut id="pointCut" expression="execution(* com.zydgbbs.spring.aop.service.UserService.*(..))"/>
            <aop:before pointcut-ref="pointCut" method="before"/>
            <aop:after method="after" pointcut-ref="pointCut"/>
        </aop:aspect>

    </aop:config>

</beans>